html, body {
  margin: 0px;
  padding: 0px;
  line-height: 1.8;
  font-family: sans-serif;
}
body {
  display: flex;
  flex-flow: column;
  width: 100vw;
  height: 100vh;
}
main {
  flex-grow: 1;
  padding: 20px;
  overflow: auto;
  font-size: 1.2em;
}
footer {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  padding-right: 20px;
  background-color: #dfdfdf;
}
img {
  width: 80vw;
}

pre {
  padding: 20px;
  background-color: #efefef;
  border-radius: 6px;
}

p>code, li>code {
  background-color: #efefef;
  padding: 6px;
  border-radius: 3px;
  color: #fc3333;
}
